.cardDetails{
display: flex;
width: 90%;
background-color: snow;
margin: 10px;
margin-left: 5%;
color: #333;
}
.info {
    float: right;
}

.infolist{
    list-style-type: none;
    text-decoration: none;
    text-align: left;
}
.infolist li{
    font-size: 25px;
}